:root {
  --primary-color: rgb(3, 0, 36);
  --secondary-color: rgb(245, 245, 245);
  --tertiary-color: rgb(255, 0, 254);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  background-color: var(--primary-color);
  margin-left: 20px;
  margin-right: 20px;
}
p,
h1,
h2,
h3, h4 {
  color: var(--secondary-color);
}
h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
}
h2, h3 {
  font-family: "Bebas Neue", sans-serif;
}
h4{
  font-family: "Londrina Outline", sans-serif;
}
/*
.burgermenu {
  font-family: "Londrina Outline", sans-serif;
}
.burgermenu hover{
  font-family: "Londrina Solid", sans-serif;
}
