:root {
  --primary-color: rgb(3, 0, 36);
  --secondary-color: rgb(245, 245, 245);
  --tertiary-color: rgb(255, 0, 254);
}

body {
  background-color: var(--primary-color);
}
p,
h1,
h2,
h3 {
  color: var(--secondary-color);
}
p {
  font-family: "Hiragino Kaku Gothic Pro";
}
h1 {
  font-family: "Anton", sans-serif;
}
h2, h3 {
  font-family: "Bebas Neue", sans-serif;
}
/*
.burgermenu {
  font-family: "Londrina Outline", sans-serif;
}
.burgermenu hover{
  font-family: "Londrina Solid", sans-serif;
}
