---
import "../styles/MainStyles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1></h1>
	</body>
	<article>
		<h3>FØLG OS HER</h3>
	<div>
		<p>©COPENHAGEN LIGHT FESTIVAL</p>
		<p>INFO@COPENHAGENLIGHTFESTIVAL.ORG</p>
		<p>TLF. +45 25 55 66 04</p>
	</div>
	</article>
</html>

<style>
	div{
		display: flex;
		flex-direction: row;
		gap: 40px;
		padding-left: 20%;
		padding-right: 20%;
	}
	h3{
		text-align: center;
	}
</style>