---
import "../styles/MainStyles.css";
import MainLayout from "../layouts/MainLayout.astro";
import Bar from "../components/Bar.astro";
import Title from "../components/Title.astro";
import Date from "../components/Date.astro";
import Readmore from "../components/Readmore.astro";
import Footer from "../components/Footer.astro";
---


<MainLayout title="Hjem" />

<Bar />
<Title />
<Date />

<article class="grid">
    <div>
        <p>03.</p>
        <p>PIXL EARTH</p>
        <Readmore />
    </div>
    <div>
        <img src="/public/pixlearth.webp" alt="pixl earth">
    </div>
</article>

<Footer />

<style>
    .grid{
        display: grid;
        
    }
</style>