---
import "../styles/MainStyles.css";
import MainLayout from "../layouts/MainLayout.astro";
import Bar from "../components/Bar.astro";
import Title from "../components/Title.astro";
import Dato from "../components/Dato.astro";
import Readmore from "../components/Readmore.astro";
import Footer from "../components/Footer.astro";
import Signup from "../components/Signup.astro";
---


<MainLayout title="Hjem" />

<Bar />
<Title />
<Dato />

<article class="grid">
    <div class="text">
        <p class="tal">03.</p>
        <p class="navn">PIXL EARTH</p>
        <Readmore />
    </div>
    <div>
        <img src="/public/pixlearth.webp" alt="pixl earth">
    </div>
</article>
<article class="grid">
    <div class="text">
        <p class="tal">11.</p>
        <p class="navn">THE WAVE</p>
        <Readmore />
    </div>
    <div>
        <img src="/public/thewave.webp" alt="The wave">
    </div>
</article>
<article class="grid">
    <div class="text">
        <p class="tal">17.</p>
        <p class="navn">ORANGE AFFÆRE</p>
        <Readmore />
    </div>
    <div>
        <img src="/public/orange.webp" alt="Orange Affære">
    </div>
</article>

<Signup />
<Footer />

<style>
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-bottom: 90px;
    }
    .text {
        text-align: right;
    }
    p{
        font-family:"Hiragino Kaku Gothic Pro";
        margin: 0;
        padding-right: 120px;
    }
    .tal{
        font-size: 60px;
    }
    .navn{
        font-size: 48px;
    }
</style>