---
const {data, img} =Astro.props;
console.log(data);
---

<article class="art">
    <a href={`/vaerker/${data.id}`}><div>
    <img src={img} alt="">
    <h2>{data.name}</h2>
    </div>
    </a>
</article>

<style>
h2 {
    font-size: 32px;
}

a {
    text-decoration: none;
}

@media (max-width: 900px){
    h2 {
        font-size: 22px;
    }
}

</style>