---

---

<article class="art">
    <a href="/vaerker"><div>
    <img src="/art_pic.svg" alt="Billede af værk">
    <h2>01. DU SOM ER I HIMLENE!</h2>
    </div>
    </a>

    <a href="/vaerker"><div>
        <img src="/art_pic.svg" alt="Billede af værk">
        <h2>01. DU SOM ER I HIMLENE!</h2>
        </div>
        </a>

        <a href="/vaerker"><div>
            <img src="/art_pic.svg" alt="Billede af værk">
            <h2>01. DU SOM ER I HIMLENE!</h2>
            </div>
            </a>
</article>

<style>
.art {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 130px;
}

h2 {
    font-size: 32px;
}

a {
    text-decoration: none;
}
</style>