---

---
<div class="grid">
    <h2>VÆRKER</h2>
    <h2>EVENTS</h2>
</div>

<style>
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    h2{
        font-size: 40px;
        cursor: pointer;
        border-style: solid;
        border-color: var(--secondary-color);
        padding-top: 90px;
        padding-bottom: 90px;
    }
    h2:hover, h2 a:hover{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
</style>