---

---

<h1>VÆRKER</h1>

<article class="filter">
    <a href="#">INDRE BY</a> <img src="/pink_line.svg" alt=""><a href="#">ØRESTAD</a> <img src="/pink_line.svg" alt=""> <a href="#">VESTER KIRKEGÅRD</a> 
</article>
<article class="filter">
  <a href="#">DR KONCERTHUS</a> <img src="/pink_line.svg" alt=""> <a href="#">REFFEN</a> <img src="/pink_line.svg" alt=""> <a href="#">NORDHAVN</a> <img src="/public/pink_line.svg" alt=""> <a href="#">BROKVARTERENE</a>
</article>

<style>

    h1{
font-size: 96px;
text-align: center;
letter-spacing: 10px;
margin-bottom: 17px;
    }

    a {
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        color: var(--secondary-color)
    }

    p {
        font-size: 50px;
        color: var(--tertiary-color);
    }

    .filter {
        display: flex;
        flex-direction: row;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    </style>

