---

---
<article>
    <h3>FØLG OS HER</h3>
<div>
    <p>©COPENHAGEN LIGHT FESTIVAL</p>
    <p>/</p>
    <p>INFO@COPENHAGENLIGHTFESTIVAL.ORG</p>
    <p>/</p>
    <p>TLF. +45 25 55 66 04</p>
</div>
</article>

<style>
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
</style>