---

---
<article class="footer">
    <hr>
    <h3>FØLG OS HER</h3>
<div class="icons">
    <img src="/instagram_icon.svg" alt="Instagram">
    <img src="/facebook_icon.svg" alt="Facebook">
    <img src="/youtube_icon.svg" alt="Youtube">
</div>
<div class="info">
    <p>©COPENHAGEN LIGHT FESTIVAL</p>
    <p><a href="mailto:info@copenhagenlightfestival.org">INFO@COPENHAGENLIGHTFESTIVAL.ORG</a></p>
    <p><a href="tel:+4525556604">TLF. +45 25 55 66 04</a></p>
</div>
</article>
</html>

<style>
h3{
    text-align: center;
    font-size: 32px;
}
p{
    font-size: 20px;
    font-family:"Hiragino Kaku Gothic Pro";
}
.icons{
    text-align: center;
    padding-bottom: 30px;
}
img{
    padding: 15px;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
.footer{
    padding-top: 150px;
}

@media (max-width:800px){
.info{
    text-align: center;
}
p{
    font-size: 15px;
}
}
@media (min-width:800px){
    .info{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
}
</style>