---

---
<article>
<nav class="nav">
    <div class="logo">
        <img src="/public/logo.svg" alt="Logo">
    </div>
    <div class="navbar">
    <ul class="burger-menu-content">
        <li><a href="mailto:info@copenhagenlightfestival.org">KONTAKT</a></li>
        <li><p>ENGLISH</p></li>
    </ul>
    <div class="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="close-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
</nav>
</article>

<style>
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    nav ul {
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-evenly;
    }
    nav li {
      text-decoration: none;
      margin-right: 30px;
      font-family: "Bebas Neue", sans-serif;
      font-size: 24px;
      cursor: pointer;
    }
    nav a {
      text-decoration: none;
      display: inline-block;
    }
    nav a:link {
      text-decoration: none;
      color: var(--secondary-color);
    }
    img{
        width: 20%;
    }
    /*BURGER-MENU*/
    .burger-menu {
      flex-direction: column;
      cursor: pointer;
    }
    .bar {
      background-color: var(--secondary-color);
      margin: 3px 0;
      transition: 0.4s;
      width: 30px;
      height: 3px;
      margin-bottom: 8px;
    }
    .close-icon {
      display: none;
      cursor: pointer;
    }
    .close-icon .bar {
      width: 35px;
      height: 3px;
      background-color: var(--secondary-color);
      margin: 2px 0;
      transition: 0.4s;
    }
    .burger-menu.open .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-18px, 2px);
    }
    .burger-menu.open .bar:nth-child(2) {
      opacity: 0;
    }
    .burger-menu.open .bar:nth-child(3) {
      transform: rotate(45deg) translate(-12px, 1px);
    }
    /*BURGER-MENU*/
    </style>