---

---
<nav class="nav">
  <div class="logo">
      <a href="/"><img src="/logo.svg" alt="Logo"></a>
  </div>
  <div class="nav2">
  <div>
  <ul class="main-menu">
    <li><a href="mailto:info@copenhagenlightfestival.org">KONTAKT</a></li>
    <li><p>ENGLISH</p></li>
</ul>
  </div>
<div class="burger-menu">
      <div class="burger-icon">
          <span></span>
          <span></span>
          <span></span>
      </div>
    </div>
      <div class="close-icon">
        <span></span>
        <span></span>
    </div>
      <div class="menu-content">
          <div class="column">
              <p class="kategori">GÆSTER</p>
              <a href="/oversigt"><p class="emne">VÆRKER 2024</p></a>
              <p class="emne">GUIDEDE TURE</p>
              <p class="emne">OM OS</p>
              <p class="emne">FAQ</p>
              <p class="emne">EVENTS</p>
          </div>
          <div class="column">
              <p class="kategori">PARTNERE</p>
              <p class="emne">PARTNERE & SPONSORER</p>
              <p class="emne">BLIV VÆRT FOR ET VÆRK</p>
              <p class="emne">PRESSE & MEDIER</p>
          </div>
          <div class="column">
              <p class="kategori">KUNSTNERE</p>
              <p class="emne">OPEN CALL</p>
          </div>
      </div>
  </div>
</nav>


<style>


    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav2{
        display: flex;
      align-items: center;
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    nav ul {
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-evenly;
    }
    nav li {
      text-decoration: none;
      margin-right: 30px;
      font-family: "Bebas Neue", sans-serif;
      font-size: 24px;
      cursor: pointer;
    }
    nav a {
      text-decoration: none;
      display: inline-block;
    }
    nav a:link {
      text-decoration: none;
      color: var(--secondary-color);
    }
    img{
        width: 30%;
    }


.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.burger-icon span {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}
.menu-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 99;
    display: none;
}
.menu-content.open {
    display: block;
}
.column {
    width: 33.33%;
    float: left;
    text-align: center;
    padding-top: 100px;
}
.emne{
  font-family: "Londrina Outline", sans-serif;
  font-size: 55px;
  margin: 0;
  padding-bottom: 20px;
}

.emne:hover {
    font-family: "Londrina Solid", sans-serif;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none; /* Start med at skjule luk-ikonet */
    z-index: 999;
}

.close-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.close-icon span:first-child {
    transform: rotate(45deg);
}
.close-icon span:last-child {
    transform: rotate(-45deg);
}
.menu-content.open .close-icon {
    display: block;
}
.kategori {
    color: var(--tertiary-color);
    font-family: "Londrina Solid", sans-serif;
    font-size: 55px;
  margin: 0;
  padding-bottom: 20px;
}

</style>