---

---
<img class="signup" src="/public/signup.svg" alt="Signup">
<p>Tilmeld dig vores nyhedsbrev for opdateringer om kommende arrangementer, nye værker, vores lokationer og meget mere!</p>

<style>
    .signup{
        display: block;
        margin-left: 80px;
        margin-top: 80px;
        margin-right: 80px;
        margin-bottom: 50px;
    }
    p{
        font-family: "Hiragino Kaku Gothic Pro";
        text-align: center;
        font-size: 25px;
        margin-right: 30%;
        margin-left: 30%;
    }
</style>