---

---
<article>
    <div class="grid_1_1">
        <div>
        <a href="/oversigt"><img class="arrow" src="/arrow.svg" alt="billede af en pil"></a>
        <img class="himlen" src="/himlen.webp" alt="billede af værket Du som er i himlene">
        </div>
        <div class="teksten">
            <h1>01. DU SOM ER I HIMLENE!</h1>
            <h2 class="marie">MARIE NØRGAARD (DK)</h2>
            <h2>HØJBRO PLADS</h2>
            <p class="lys_af">Lys af Marni Nikdel</p>
            <p class="insta">Instagram:</p>
            <p>@marienoergaardnielsen</p>
            <p class="manini">@maninikdelstudio</p>
            <p class="tak">Tak til Mathilde Märcher, Jes Hermann Saatterup, Erik Larsen & Søn, Martin Lightning. </p>
        </div>
    </div>

    <div class="tekst">
        <p class="buttom">Værket skaber en forbindelse mellem jorden under os og himmelen over os. Mellem det fysiske og det åndelige. Overgivelse til noget, som er højere end os. Et sted, hvor man kan forbinde sig til det, man tror på.</p>
        <p class="buttom">Marie Nørgaard Nielsen er en dansk tekstilkunstner, som tidligere har deltaget i Copenhagen Light Festival med Oraklet i 2022 og med På den anden side af Solen i 2023, der senere samme år var en del af festivalen Light Art Grindelwald i de schweiziske alper.</p>
        <p>Mani Nikdel er en iransk designer og kunstner, bosat i Århus. Han har deltaget på Copenhagen Light Festival de seneste to år med Transcendence i 2022 og Terra i 2023.</p>
    </div>
</article>


<style>

    h1{
        font-size: 35px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
        letter-spacing: 3px;
    }

    h2{
        font-size: 27px;
        margin: 0;
    }

    p{
        font-size: 23px;
        font-family:"Hiragino Kaku Gothic Pro"; 
        margin: 0;   
    }

    .arrow{
        padding-bottom: 15px;
    }

    .himlen{
        max-width: 110%;
    }

    .teksten{
        padding-left: 11%;
    }
    
    .marie{
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .lys_af{
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .insta{
        text-decoration: underline;
    }

    .manini{
        padding-bottom: 35px;
    }

    .tak{
        padding-right: 200px;
    }

    .tekst{
        margin: 65px;

    }

    .buttom{
       padding-bottom: 35px; 
    }
.grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5%;
    margin: 60px;
    place-items: center;
}

</style>

