---

---
<article>
<div class="grid">
    <div class="navn">
            <h1>COPENHAGEN LIGHT</h1>
        <div class="cirkler">
            <h1>FESTIVAL</h1>
            <img src="/public/Ellipse2.svg" alt="Cirkel">
            <img src="/public/Ellipse3.svg" alt="Cirkel">
            <img src="/public/Ellipse4.svg" alt="Cirkel">
            <img src="/public/Ellipse5.svg" alt="Cirkel">
        </div>
    </div>
    <div class="dato">
        <h2>02/02-25/02 - 2024</h2>
    </div>
    </div>
</article> 
    
    <style>
            h1 {
            font-size: 125px;
            margin: 0;
        }
        .cirkler {
            display: flex;
            margin-top: 10px;
        }
        .cirkler img {
            margin: 0 5px;
        }
        .grid{
            display: grid;
            grid-template-columns: 3fr 1fr;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .dato{
            justify-self: right;
            padding-top: 10px;
        }
    </style>