---

---
<p><a href="http://localhost:4321/oversigt">SE FLERE</a></p>

<style>
    p{
        font-size: 20px;
        font-family:"Hiragino Kaku Gothic Pro";
        font-weight: 900;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-style: solid;
        border-color: var(--tertiary-color);
        border-width: 3px;
        text-align: center;
        width: 190px;
    }
    p:hover{
        background-color: var(--tertiary-color);
    }
    a{
        text-decoration: none;
        color: var(--secondary-color);
    }
</style>